@import "./globals.scss";
@import "./privacy.scss";
@import "./variable.scss";


.stack{
    height: 4rem;
}

.screenshot-swiper-container{
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
    .screenshoot-card{
        cursor: grab;
        overflow: hidden;
        border-radius: 12px;
        img{
            max-width: 500px;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1024px) {
    .stack{
        height: 2rem;
    }
}